
.buy, .camera, .cloud, .collect, .download, .end, .fm, .friend, .headset, .heart, .in, .level, .list, .local_music, .logo, .member, .music_next, .music_play, .music_pre, .music_stop, .music, .mv, .next, .phone, .play, .play2, .playcount, .playlist, .pre, .right, .search-icon, .setting, .share, .sign, .singer, .station, .trackcount, .volume {
    background-image: url(../assets/sprite.png);
}


.buy {
    width: 200px;
    height: 200px;
    background-position: -200px 0px;
}

.camera {
    width: 200px;
    height: 200px;
    background-position: -800px -600px;
}

.cloud {
    width: 200px;
    height: 200px;
    background-position: 0px -200px;
}

.collect {
    width: 200px;
    height: 200px;
    background-position: -200px -200px;
}

.download {
    width: 15px;
    height: 15px;
    background-position: -1030px -420px;
}

.end {
    width: 200px;
    height: 200px;
    background-position: -400px -200px;
}

.fm {
    width: 15px;
    height: 15px;
    background-position: -1015px -420px;
}

.friend {
    width: 15px;
    height: 17px;
    background-position: -1165px -400px;
}

.headset {
    width: 200px;
    height: 200px;
    background-position: -400px -400px;
}

.heart {
    width: 15px;
    height: 14px;
    background-position: -1060px -420px;
}

.in {
    width: 200px;
    height: 200px;
    background-position: -600px -200px;
}

.level {
    width: 200px;
    height: 200px;
    background-position: -600px -400px;
}

.list {
    width: 200px;
    height: 200px;
    background-position: 0px -600px;
}

.local_music {
    width: 15px;
    height: 15px;
    background-position: -1045px -420px;
}

.logo {
    width: 113px;
    height: 20px;
    background-position: -1000px -400px;
}

.member {
    width: 200px;
    height: 200px;
    background-position: -600px -600px;
}

.music_next {
    width: 200px;
    height: 200px;
    background-position: -800px 0px;
}

.music_play {
    width: 200px;
    height: 200px;
    background-position: -800px -200px;
}

.music_pre {
    width: 200px;
    height: 200px;
    background-position: -800px -400px;
}

.music_stop {
    width: 200px;
    height: 200px;
    background-position: 0px 0px;
}

.music {
    width: 15px;
    height: 15px;
    background-position: -1180px -400px;
}

.mv {
    width: 15px;
    height: 15px;
    background-position: -1000px -420px;
}

.next {
    width: 26px;
    height: 20px;
    background-position: -1139px -400px;
}

.phone {
    width: 200px;
    height: 200px;
    background-position: -600px -800px;
}

.play {
    width: 200px;
    height: 200px;
    background-position: -800px -800px;
}

.play2 {
    width: 200px;
    height: 200px;
    background-position: -1000px 0px;
}

.playcount {
    width: 200px;
    height: 200px;
    background-position: -400px -800px;
}

.playlist {
    width: 200px;
    height: 200px;
    background-position: -200px -800px;
}

.pre {
    width: 26px;
    height: 20px;
    background-position: -1113px -400px;
}

.right {
    width: 200px;
    height: 200px;
    background-position: 0px -800px;
}

.search-icon {
    width: 13px;
    height: 13px;
    background-position: -1075px -420px;
}

.setting {
    width: 200px;
    height: 200px;
    background-position: -400px -600px;
}

.share {
    width: 200px;
    height: 200px;
    background-position: -200px -600px;
}

.sign {
    width: 200px;
    height: 200px;
    background-position: -600px 0px;
}

.singer {
    width: 200px;
    height: 200px;
    background-position: -200px -400px;
}

.station {
    width: 200px;
    height: 200px;
    background-position: 0px -400px;
}

.trackcount {
    width: 200px;
    height: 200px;
    background-position: -400px 0px;
}

.volume {
    width: 200px;
    height: 200px;
    background-position: -1000px -200px;
}
